.add-button {
  background-color: var(--orange);
  color: #fff;

  border: none;
  border-radius: 15px;

  padding: 0.5vw 2vw;
  width: 90%;


  font-size: calc(var(--adaptive-font));
  font-weight: 700;

  transition: 0.3s all ease;

  @media (max-width: 480px) {
    width: auto;
    padding: 1vw 4vw;
    font-size: calc(var(--adaptive-font) - 1px);
  }

  &:hover {
    color: var(--orange);
    background-color: #fff;
    outline: 1px solid var(--orange);

    cursor: pointer;
  }

}

