.close-button {
  background-color: #fff;
  color: var(--orange);

  border: 1px solid var(--orange);
  border-radius: 15px;

  font-size: calc(var(--adaptive-font) + 2px);

  padding: 0.5vw 2vw;
  width: auto;

  transition: 0.3s all ease;

  &:hover {
    background-color: var(--dark-orange);
    color: #fff;
    border: 1px solid var(--dark-orange);

    cursor: pointer;
  }
}
