.cart {
  background-color: var(--dark-orange);

  font-size: calc(var(--adaptive-font));

  width: auto;
  height: 5%;
  padding: 1vh 1.5vw;
  border-radius: 20px;
  box-shadow: 0 0px 10px 5px rgba($color: #000000, $alpha: 0.4);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 2vw;

  cursor: pointer;
  user-select: none;

  transition:  0.2s all ease;

  &:hover {
    background-color: #501c05;

    .cart__quantity {
      background-color: #b4411c;
    }
  }

  &._new-order {
    animation: newOrder 0.5s ease-out;
  } 

}

.cart__icon {
  &::after {
    content: "";

    @media (min-width: 480px) {
      content: "Your Cart";
      position: relative;
      bottom: 5px;
      margin: 0 0 0 5px;
      font-family: "Noto Sans JP", sans-serif;
      font-size: calc(var(--adaptive-font) - 2px);
    }
  }
}

.cart__quantity {
  padding: 0 min(2vw, 20px);
  background-color: #af3c19;
  border-radius: 20px;
}

@keyframes newOrder {
  0% {
    transform: scale(0.9);
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  }
}
