.wrapper-header {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: auto;
  padding: 1vh 3vw;

  background-color: var(--orange);
  color: #fff;
  
  display: flex;
  align-items: center;
}

.header-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    font-size: calc(var(--adaptive-font) + 6px);
    font-weight: 700;
  }
}

