@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  --adaptive-font: calc(16px + 2   * ((100vw - 320px) / (1440 - 320)));
  --orange: #8A2B06;
  --dark-orange: #4D1601;
  --dark: #383838;
  --light-orange: #AC5502;
  --bg-color: #3F3F3F;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-size: var(--adaptive-font);
}

#root {
  padding: 0 3vw;
}

#background-image {
  width: 100vw;
  height: 40vh;
  z-index: -1;


  background-position: 50% 50%;
  background-size: cover;
  background-image: url(./Images/meals.webp);
  position: absolute;
  left: 0;
  top: 0;
}

.wavy-border {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wavy-border svg {
  position: relative;
  display: block;
  width: calc(152% + 1.3px);
  height: 80px;
}

.wavy-border .shape-fill {
  fill: var(--bg-color);
}
